.chalendarContainer {
    grid-area: chalendar;
    margin: 2vw;


    /* background: var(--background_color2); */
    /* backdrop-filter: var(--backdropFilter); */
    
}

.chalendar {
    display: flex;
    flex-wrap: wrap;
    block-size: border-box;
    padding: 10px;
}

.chalendarDay {
    width: calc(100% / 7);
    height: 5vh;

    border-radius: 12%;
    margin-bottom: 4vh;
    transition: ease-in  .3s;

    font-size: calc(var(--textClamp) * 1.6);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

}

.chalendarDayInput {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}



.listNameDays {
    list-style: none;

    box-sizing: border-box;
    padding: 10px;

    display: flex;
    align-items: center;
    color: var(--textColorActive);
    font-weight: bold;
    font-size: calc(var(--titleClamp));
}

.nameDay {
    width: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
}