.popNotaContainer {

    display: flex;   /*flex */

    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;

    /* background: var(--background_color2); */
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);

}



.popNota {
    position: absolute;
    padding: 10px;

    border-radius: 5px;
    background: var(--background_color);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;

}

.data {
    grid-area: data;
    color: var(--textColorActive);
    font-size: calc(var(--titleClamp)*1.15);
}

.textArea {
    grid-area: input;
    /* min-height: 3rem; */
    display: flex;
    border: solid red 2px;
    resize: none;
}

.adicionar {
    grid-area: adicionar;
    padding: 5px 20px;

    border-radius: 100px;
    font-weight: bold;
    transition: ease .3s;

    border: solid #b175e5 2px;
    background: transparent;
    color: #b175e5;
}

.adicionar:hover {
    border: solid transparent 2px;
    color: white;
    background-color: #b175e6;
}

.cancelar {
    grid-area: cancelar;
    padding: 5px 20px;

    border-radius: 100px;
    font-weight: bold;
    transition: ease .3s;

    border: solid #d62828 2px;
    background: transparent;
    color: #d62828;
}

.cancelar:hover {
    border: solid transparent 2px;
    color: white;
    background-color: #d62828;
}