


.cancelar {
    grid-area: cancelar;
    padding: 5px 20px;

    border-radius: 100px;
    font-weight: bold;
    transition: ease .3s;

    border: solid #d62828 2px;
    background: transparent;
    color: #d62828;
}

.cancelar:hover {
    border: solid transparent 2px;
    color: white;
    background-color: #d62828;
}