.imgNotNotesContainer {
    position:relative;
    /* mix-blend-mode: multiply; */
    border: solid red 2px;
}

/* 
.imgNotNotes::before {



    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: pink; 
}  */

.toDoContainer {
    grid-area: toDo;
    margin: 2vw;

    box-sizing: content-box;
    color: var(--textColorActive);

}

.toDoHeader {
    display: flex;
    padding: 2vh 5vw;


    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(var(--titleClamp) * 1.1);
}

.buttonAdd{
    padding:8px 25px;
    background: transparent;
    
    font-weight: bold;
    
    transition:ease .3s;
}



.button {
    height: 5vh;
    background: none;
    border: none;
}

.buttonIcon {
    display: flex;
    height: 3vh;
    
}

.toDoList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}



.itemDescription::-webkit-scrollbar {
    width: 0px;
}



.itemButtons {
    display: flex;
    gap: 2vw;
}