
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



:root {
  --backdropFilter: blur(30px);
  --background_color: #d1d5e1;
  --background_color2: rgb(1, 0, 1);
  --color1: #06141b;
  --color2: #11212d;
  --color3: #253745;
  --color4: #4a5c6a;
  --color5: #9ba8ab
  --color6: #ccd0cf;

  
  --textColorNoActive: #8787873c;
  --textColorActive: #c9caca;
  --textClamp: clamp(0px, 5vh, 2vw);
  --titleClamp: clamp(.6vw, 7vh, 4vw);

}


*::-webkit-scrollbar{
  width: 0px;
}



@media (max-width: 480px) {
  .mainContainer {

    min-height: 100vh;
    overflow:hidden ;
    display: flex;
    flex-direction: column;

    gap: 1.5vh;

  }
  
}

@media (min-width: 481px) {

  .mainContainer {
    min-height: 100vh;

    display: grid;
    grid-template:
      "header header" 1fr "toDo chalendar" 5fr
    ;
    gap: 1.5vh;
  }
}